/**************************************************************************
* Accordion
***************************************************************************/
.faq-wrap {
  @include inline-block;
  margin-bottom: 30px;
  width: 100%;

  .frame-type-header header h2 {
    margin-bottom: 15px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 90px;
  }
}

.custom-accordion {
  .card {
    margin-bottom: 15px;

    .card-header {
      @include transition(border-color, 0.3s, ease-in-out, 0s);
      background-color: $light-bg-color;
      border: 0;
      cursor: pointer;
      padding: 1rem 1.5rem 0.9rem;

      &.collapsed {
        border-bottom-color: transparent;
      }

      h5 {
        @include font-size($font-sizes16);
      }
    }
  }

  .card-header {
    h3 {
      // color: $brand-color;
      font-weight: $medium-weight;
    }
  }

  .card-body {
    color: $text-muted-color;
  }
}

.faq-accordion {
  .card {
    .card-header {
      &.collapsed {
        border-bottom-color: transparent;

        h5,
        h3 {
          .fa-var-plus {
            @include vertical-align(absolute);
            display: inline-block;
            font-size: 14px;
            font-style: normal;
            font-variant: normal;
            right: 0;
            text-rendering: auto;
            width: 1.25em;
          }
        }
      }

      h5,
      h3 {
        padding-right: 25px;
        position: relative;

        .fa-var-minus {
          @include vertical-align(absolute);
          display: inline-block;
          font-size: 14px;
          font-style: normal;
          font-variant: normal;
          right: 0;
          text-rendering: auto;
          width: 1.25em;
        }
      }
    }
  }
}

.accordion {
  .card {
    border: 1px solid rgba($black, 0.125);
    border-color: $light;
  }
}

.accordion-flush {
  .card-header {
    align-items: center;
    background-color: $primary-color;
    border: 0;
    border-radius: 0 !important;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    overflow-anchor: none;
    padding: 1rem 1.25rem;
    position: relative;
    text-align: left;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      border-radius 0.15s ease;
    width: 100%;
  }
}

.accordion-button::after {
  background-repeat: no-repeat;
  background-size: 1.25rem;
  content: "";
  flex-shrink: 0;
  height: 1.25rem;
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
  width: 1.25rem;
}

.accordion-flush {
  .accordion-item {
    .card-header {
      border-radius: 0;
    }
  }

  .card-header {
    background-color: #fff;
    color: #212529;
    &:focus {
      border-color: #86b7fe;
      outline: 0;
      z-index: 3;
    }

    &:hover {
      z-index: 2;
    }
  }
}

.accordion-flush {
  .card-header.collapsed {
    border-color: #86b7fe;
    background-color: $brand-color;
    color: #fff;
  }
}

.accordion-flush {
  .card {
    .card-header {
      &.collapsed {
        border-bottom-color: transparent;

        h5 {
          .arrow-down {
            display: inline-block;
            top: 5px;
            transform: rotate(-269deg);
            transition: transform 0.2s ease-in-out;
          }
        }
      }

      h5,
      h3 {
        padding-right: 25px;
        position: relative;
        width: 100%;
        .arrow-down {
          display: inline-block;
          font-size: 14px;
          font-style: normal;
          font-variant: normal;
          font-weight: $black-weight;
          position: absolute;
          right: 0;
          text-rendering: auto;
          top: 5px;
          transform: rotate(-88deg);
          transition: transform 0.2s ease-in-out;
          width: 1.25em;
          margin-top: 5px;
        }
      }
    }
  }
}
