.blog-date {
  margin-right: 10px;
  position: absolute;

  .day {
    background: $light-bg-color;
    border-radius: 2px 2px 0 0;
    color: $brand-color;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
  }

  .month {
    @include inline-block;
    background-color: $brand-color;
    color: $white;
    padding: 3px;
    text-align: center;
    width: 100%;
  }
}

.blog-content {
  border-bottom: solid 1px $secondary-light-color;
  padding-bottom: 15px;
  padding-left: 80px;

  h2 {
    @include font-size($font-sizes22);
    margin-bottom: 10px;
  }
}

.blog-item {
  @include inline-block;
  padding: 0 0 30px;
  width: 100%;
}

.blog-meta {
  @include flexbox;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 10px;
  width: 100%;

  span {
    color: $secondary-light-color;
    padding-right: 20px;
    position: relative;

    &::before {
      color: inherit;
      content: "/";
      font-size: 18px;
      left: -14px;
      line-height: 18px;
      position: absolute;
      top: 0;
    }

    &:first-child {
      &::before {
        display: none;
      }
    }

    a {
      color: inherit;

      &:hover {
        color: $brand-link-hover-color;
      }
    }

    .fa {
      margin-right: 5px;
    }
  }

  .btn {
    margin: 0;
  }
}

.search-block {
  margin-bottom: 30px;

  .btn {
    border-radius: 0 4px 4px 0;

    .fas {
      margin: 0;
    }
  }

  .input-group {
    .form-control {
      height: 41px;
    }
  }
}

.category-block {
  margin-bottom: 40px;

  .category-listing {
    & > li {
      display: block;
      margin: 0;
      padding: 0;
      position: relative;
      &:not(:last-child) {
        border-bottom: 1px solid $medium-bg-color;
      }

      & > a {
        display: block;
        padding: 8px 0 8px 22px;
        text-decoration: none;
        transition: background 0.1s;

        &::before {
          @include transition(all, 0.2s, ease-in-out, 0s);
          content: "\f054";
          font-family: "Font Awesome 6 Free";
          font-size: 7.2px;
          font-size: 0.45rem;
          font-weight: $black-weight;
          opacity: 0.7;
          position: absolute;
          right: 20px;
          top: 8px;
        }

        &:hover {
          &::before {
            right: 15px;
          }
        }
      }
    }
  }
}

.sidebar-tabs-wrap {
  margin-bottom: 40px;

  .nav-tabs {
    border-bottom: 0 !important;
    + .tab-content ul {
      border-top: 0;
    }

    li {
      line-height: 15px;
      margin-bottom: 0;
      padding: 0;

      &.show {
        .nav-link {
          border-radius: 6px 6px 0 0;
        }
      }

      a {
        color: $brand-link-hover-color;
        font-size: 18px;
        font-weight: $semibold-weight;
        line-height: 28px;
        padding: 10px 20px;
        pointer-events: none;

        &.active,
        &:focus,
        &:hover {
          border: 0;
          border-radius: 0;
          border-top-width: 0;
        }
      }
    }
  }

  .simple-post-list {
    & > li {
      margin-bottom: 0;
      padding: 15px 0 5px 15px;

      &:last-child {
        border-bottom: 0;

        .post-info {
          border-bottom: 0;
        }
      }

      .post-image {
        @include inline-block;
        padding-right: 10px;
        img {
          margin-bottom: 0;
        }
      }

      .post-info {
        @include inline-block;
        border-bottom: 1px solid $medium-bg-color;
        padding-bottom: 15px;
        width: calc(100% - 80px);
        a {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 8px;

          &:hover {
            background-color: transparent;
          }
        }

        .post-meta {
          color: $secondary-light-color;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}

.twitter-text-box {
  ul {
    li {
      padding: 10px 0 10px 30px;
      position: relative;

      p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 5px;

        .fab {
          color: $black;
          font-size: 20px;
          left: 0;
          position: absolute;
          top: 13px;
        }
      }

      .meta {
        a {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}

.tages-block {
  padding-top: 20px;

  a {
    background-color: $black;
    border-radius: 15px;
    color: $white;
    display: inline-block;
    font-size: 11px;
    font-weight: $bold-weight;
    margin-bottom: 5px;
    padding: 3px 15px;
    text-transform: uppercase;
  }
}

.blog-image {
  @include inline-block;
  padding-bottom: 10px;
  width: 100%;
  img {
    max-width: 100%;
    height: auto;
  }
}

.blog-medium-image {
  .blog-content {
    border-bottom: 0;
    min-height: 195px;
    padding-left: 0;
  }

  .blog-item {
    border-bottom: solid 1px $secondary-light-color;
    padding: 20px 0 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.simple-post-list {
  li {
    &:hover {
      background-color: #f5f6f9;
      cursor: pointer;
      transition: background 0.1s;
    }
  }
}

@include media-breakpoint-up(sm) {
  .blog-meta {
    .btn {
      margin-top: 0;
    }
  }

  .blog-content {
    padding-bottom: 15px;
  }

  .blog-item {
    padding: 0 0 30px;
  }
}

.blog-meta {
  .btn {
    margin-top: 15px;
  }
}

.blog-content {
  padding-bottom: 0;
}

.blog-item {
  padding-bottom: 20px;

  &:last-child {
    border-bottom: 0;
  }
}
