.breadcrumb-section {
  background-color: $light-bg-color;
  margin-bottom: 4em;
  position: relative;

  .breadcrumb-item {
    a {
      color: $secondary-light-color;
      font-size: inherit;
      position: relative;

      i {
        font-size: 12px;
      }

      &:hover {
        color: $brand-color;
      }
    }

    &.active {
      color: $brand-color;
    }
  }
  .container-fluid {
    .breadcrumb {
      background-color: transparent;
      border-radius: 0;
      margin-bottom: 0;
      padding: 0.75rem 2rem;
    }
  }

  .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0.75rem 0;
  }

  &.fancy {
    .breadcrumb {
      padding: 0;

      .breadcrumb-item {
        @include inline-block;
        background-color: $secondary-light-color;
        display: block;
        padding: 11px 25px 9px 40px;
        position: relative;

        &::after {
          border-bottom: 21px solid transparent;
          border-left: 18px solid $secondary-light-color;
          border-top: 21px solid transparent;
          content: "";
          display: block;
          height: 0;
          left: 100%;
          position: absolute;
          top: 0;
          width: 0;
          z-index: 1;
        }

        &::before {
          border-bottom: 21px solid transparent;
          border-left: 21px solid $white;
          border-top: 21px solid transparent;
          content: "";
          display: block;
          height: 0;
          left: 100%;
          margin-left: 1px;
          position: absolute;
          top: 0;
          width: 0;
          z-index: 1;
        }

        &:first-child {
          padding-left: 20px;
        }

        a {
          color: $white;
          padding: 0;
          text-decoration: none;
        }

        &.active {
          background-color: $brand-color;
          color: $white;

          &::after {
            border-left-color: $brand-color;
          }

          &::before {
            display: none;
          }
        }
      }
    }
  }

  &.classic {
    .breadcrumb {
      .breadcrumb-item + .breadcrumb-item {
        &::before {
          content: url(data:image/svg+xml,%3Csvg%20stroke%3D%22currentColor%22%20fill%3D%22none%22%20stroke-width%3D%222%22%20viewBox%3D%220%200%2024%2024%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20height%3D%221em%22%20width%3D%221em%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpolyline%20points%3D%229%2018%2015%2012%209%206%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E);
          font-weight: $semibold-weight;
          position: relative;
          top: 3px;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .breadcrumb-section {
    &.fancy {
      .breadcrumb {
        .breadcrumb-item {
          &::after {
            border-bottom: 21px solid transparent;
            border-left: 17px solid $secondary-light-color;
            border-top: 21px solid transparent;
            content: "";
          }

          &::before {
            border-bottom: 23px solid transparent;
            border-left: 23px solid #fff;
            border-top: 23px solid transparent;
            content: "";
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .breadcrumb-section {
    &.fancy {
      .breadcrumb {
        .breadcrumb-item {
          &::after {
            border-bottom: 21px solid transparent;
            border-left: 16px solid $secondary-light-color;
            border-top: 21px solid transparent;
            content: "";
          }

          &::before {
            border-bottom: 21px solid transparent;
            border-left: 21px solid #fff;
            border-top: 21px solid transparent;
            content: "";
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .breadcrumb-section {
    &.fancy {
      .breadcrumb {
        .breadcrumb-item {
          &::after {
            border-bottom: 23px solid transparent;
            border-top: 23px solid transparent;
            content: "";
          }

          &::before {
            border-bottom: 23px solid transparent;
            border-top: 23px solid transparent;
            content: "";
          }
        }
      }
    }
  }
}
