.progressbar-block {
    margin-bottom: 31px;
}

.bg-primary {
    background-color: $primary-color !important;
}

.bg-secondary {
    background-color: $secondary-color !important;
}

.progress-bar {
    background-color: $primary-color;
}
