.video-modal {
  position: relative;
  display: block;
}

.video-modal__thumbnail {
  position: relative;

  img {
    margin-bottom: 0;
  }

  &.thumbnail-overlay {
    &::before {
      content: " ";
      position: absolute;
      background-color: $primary-color;
      width: 100%;
      height: 100%;
      opacity: 0.2;
    }
  }
}

.video-modal__button {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  transition: all ease-in-out 0.3s;

  .play-btn {
    margin-left: 5px;
    font-size: 25px;
    z-index: 1;
    transform: scale(1);
    transition: all ease-in-out 0.3s;
  }

  &:hover {
    .play-btn {
      transform: scale(1.1);
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: pulse-animation-outer 2s linear infinite;
  }
}

.modal-video {
  .modal-header {
    border: 0;
    align-items: flex-start;
  }

  .modal-dialog {
    max-width: 1000px;
  }

  .modal-content {
    border: 0;
    border-radius: 0;
    background: transparent;
  }
  .btn-close {
    border-radius: 100%;
    background-color: $secondary-color;
    background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.5%22%20d%3D%22M16%208l-8%208m0-8l8%208%22%2F%3E%3C%2Fsvg%3E");
    background-size: 25px;
    opacity: 1;

    &:hover {
      background-color: $primary-color;
      background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.5%22%20d%3D%22M16%208l-8%208m0-8l8%208%22%2F%3E%3C%2Fsvg%3E");
    }
  }
}

.video-screen {
  height: 450px;
  position: relative;
  transition: all 2s ease-out;
  border: 5px solid rgba($white, 0.75);

  &.loaded {
    opacity: 1;
    visibility: visible;
  }

  .spinner-wrapper {
    @include abs-position(0, 0, 0, 0);
    @include flexbox();
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 11;
  }
}

.modal-backdrop {
  &.show {
    opacity: 0.7;
  }
}

@include media-breakpoint-up(md) {
  .video-modal__button {
    height: 100px;
    width: 100px;

    .play-btn {
      font-size: 30px;
    }

    &::after {
      width: 100px;
      height: 100px;
    }
  }
}
