body.dark,
body.boxed.dark {
  background-color: #212529 !important;
  color: #fff;

  .gray-bg,
  .jumbotron,
  blockquote,
  .timeline-block {
    background-color: #2f2f2f;
  }

  .custom-accordion {
    .card {
      .card-header {
        background-color: #2f2f2f;
      }
    }
  }

  .custom-accordion {
    .card-body {
      background-color: #000;
      color: #fff;
    }
  }

  .header-main {
    background-color: #000;
  }

  .footer {
    background-color: #fff;
    .footer-main .navbar-brand {
      color: #000;
    }

    h3 {
      color: #000;
    }
  }

  .dropdown-item {
    &:focus,
    &:hover {
      background-color: #000;
    }
  }

  .navigation {
    ul {
      li {
        a {
          color: #fff;
        }
      }
    }
  }

  nav {
    ul {
      background-color: #000;
    }
  }

  .cc-color-override--356726544 .cc-btn {
    color: #000;
  }

  .cc-compliance {
    .cc-btn {
      &:focus,
      &:hover {
        color: #000 !important;
      }
    }
  }

  .breadcrumb-section {
    background-color: #122241;
  }

  .card {
    background-color: #000;
    color: #fff;

    .card-footer {
      background-color: #262525;
    }
  }

  .price-block {
    .price-block-header {
      background-color: #262525;
    }
  }

  .table {
    color: #fff;
  }

  .btn.btn-dark {
    color: #000;
    background-color: #565658;
  }

  .logo {
    color: #fff;
  }

  .table.table-success > :not(caption) > * > * {
    background-color: #4d866b;
  }

  .table-hover > tbody > tr:hover {
    background-color: #4b4b4b;
    color: #fff !important;
  }

  .table-hover > tbody > tr:hover > * {
    color: #fff;
  }

  .table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: rgb(75, 75, 75);
    color: #fff !important;
  }

  .accordion-flush {
    .card-header.collapsed {
      background-color: #2f2f2f;
      color: #fff;
    }
  }

  .news-title h4 a {
    color: #fff;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    background-color: transparent;
    color: #fff;
  }
}
