$breakpoints: (
  small: 540px,
  medium: 768px,
  large: 960px,
  x-large: 1200px,
  xx-large: 1400px,
);

$font-sizes42: (
  null: (
    28px,
    36px,
  ),
  small: (
    28px,
    36px,
  ),
  medium: (
    36px,
    44px,
  ),
  large: (
    42px,
    52px,
  ),
);

$font-sizes32: (
  null: (
    24px,
    34px,
  ),
  small: (
    24px,
    34px,
  ),
  medium: (
    28px,
    34px,
  ),
  large: (
    32px,
    42px,
  ),
);

$font-sizes26: (
  null: (
    22px,
    32px,
  ),
  small: (
    22px,
    32px,
  ),
  medium: (
    22px,
    32px,
  ),
  large: (
    26px,
    36px,
  ),
);

$font-sizes24: (
  null: (
    20px,
    32px,
  ),
  small: (
    20px,
    32px,
  ),
  medium: (
    24px,
    34px,
  ),
  large: (
    24px,
    34px,
  ),
);

$font-sizes22: (
  null: (
    19px,
    26px,
  ),
  medium: (
    19px,
    26px,
  ),
  large: (
    22px,
    30px,
  ),
);

$font-sizes20: (
  null: (
    18px,
    24px,
  ),
  medium: (
    20px,
    28px,
  ),
  large: (
    20px,
    28px,
  ),
);

$font-sizes18: (
  null: (
    16px,
    24px,
  ),
  medium: (
    18px,
    26px,
  ),
  large: (
    18px,
    26px,
  ),
);

$font-sizes16: (
  null: (
    14px,
    22px,
  ),
  medium: (
    14px,
    22px,
  ),
  large: (
    16px,
    26px,
  ),
);

$font-sizes16: (
  null: (
    14px,
    22px,
  ),
  medium: (
    14px,
    22px,
  ),
  large: (
    16px,
    26px,
  ),
);

$font-sizes14: (
  null: (
    12px,
    16px,
  ),
  medium: (
    14px,
    18px,
  ),
  large: (
    14px,
    18px,
  ),
);

$font-sizes12: (
  null: (
    12px,
    13px,
  ),
  large: (
    12px,
    13px,
  ),
);
